<div class="container">
  <div class="row">
    <h4><mark style="background-color: #F8F8F8F8;">注文情報確認</mark></h4>
    <%= form_with(model: @order, local: true) do |f| %>
      <div class="col-lg-9">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
          </thead>
          <tbody>
            <% sum_all = 0 %>
            <% @cart_products.each do |cart_product| %>
              <tr>
                <td>
                  <!-- 商品画像・商品名 -->
                  <%= attachment_image_tag(cart_product.product, :image, :fill, 100, 100, fallback:  "") %>
                  <%= cart_product.product.name %>
                </td>
                <td>
                  <!-- 単価（税込） -->
                  <%= cart_product.product.price*11/10 %>
                </td>
                <td>
                  <!-- 商品数量 -->
                  <%= cart_product.quantity %>
                </td>
                <td>
                  <!-- 商品小計(個数*金額) -->
                  <%= sum_product = cart_product.product.price*11/10*cart_product.quantity %>
                  <% sum_all += sum_product %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="col-lg-3">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td>送料</td>
              <td><%= @order.shipping %></td>
            </tr>
            <tr>
              <td>商品合計</td>
              <td><%= sum_all.to_i %></td>
            </tr>
            <tr>
              <td>ご請求金額</td>
              <td>
                <% billing_amount = sum_all + @order.shipping %>
                <%= billing_amount.to_i %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="">
        <p>
          <span style="font-size: 25px;"><strong>支払方法</strong></span>
          <%= @order.payment_method_i18n %>
        <p>
      </div>
      <div class="">
        <p>
          <span style="font-size: 25px;"><strong>お届け先</strong></span>
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.name %>
        <p>
      </div>
      <%= f.hidden_field :how_to_pay, :value => "#{@order.payment_method}" %>
      <%= f.hidden_field :add, :value => "#{@add}" %>
      <%= f.hidden_field :customer_id, :value => current_customer.id %>
      <%= f.hidden_field :post_code, :value => "#{@order.postal_code}" %>
      <%= f.hidden_field :send_to_address, :value => "#{@order.address}" %>
      <%= f.hidden_field :name, :value => "#{@order.name}" %>
      <div style="text-align: center">
        <%= f.submit "購入を確定する", class: "btn btn-success btn-lg" %>
      </div>
    <% end %>
  </div>
</div>