<div class="container">
  <div class="row">
    <h4><mark style="background-color: #F8F8F8F8;">注文履歴詳細</mark></h4>
    <div class="col-lg-9">
      <h4><strong>注文情報</strong></h4>
      <table class="table table-bordered" >
        <tbody>
          <tr>
            <td>注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td>配送先</td>
            <td><%= @order.address %></td>
          </tr>
          <tr>
            <td>支払方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td>ステータス</td>
            <td><%= @order.order_status_i18n %></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="col-lg-3">
      <h4><strong>請求情報</strong></h4>
      <table class="table table-bordered">
        <tbody>
          <% sum_all = 0 %>
          <% @order.order_products.each do |order_product| %>
            <% sum_all += order_product.price_with_tax %>
          <% end %>
            <tr>
              <td>商品合計</td>
              <td><%= sum_all %></td>
            </tr>
            <tr>
              <td>配送料</td>
              <td><%= @order.shipping %></td>
            </tr>
            <tr>
              <td><strong>ご請求額</strong></td>
              <td><strong><%= sum_all + @order.shipping %></strong></td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-10">
      <h4><strong>注文内容</strong></h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.order_products.each do |order_product| %>
            <tr>
              <td><%= product = Product.find(order_product.product_id).name %></td>
              <td><%= order_product.price_with_tax*11/10 %></td>
              <td><%= order_product.quantity %></td>
              <td>
                <%= order_product.price_with_tax*11/10*order_product.quantity %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>