<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h2 style="font-size: 25px; padding-bottom: 10px;">
        <span style="background-color:#f8f8f8;">　ジャンル編集　</span></h2>
        <%= form_with(model: @category, url: admins_category_path(@category), local: true) do |f| %>
          <div class="form">
            <%= f.label :name, "ジャンル" %>
            <span style="font-size: 17px;">
             <%= f.text_field :name %>
             <%= f.radio_button :is_effective, :true %>
             <%= f.label :is_effective, "有効", {value: true} %>
             <%= f.radio_button :is_effective, :false %>
             <%= f.label :is_effective, "無効", {value: false} %>
             <%= f.submit "変更を保存する", class: "btn btn-primary" %>
            </span>
          </div>
        <% end %>
    </div>
  </div>
</div>