<div class="container">
  <div class="row">
    <div class="row">
     <div class="col-sm-8 text-center" style=""><h4><mark style="background-color: #F8F8F8F8;">マイページ</mark></h4></div>
    </div>
    <div class="row">
      <div class="col-sm-2" style=""><h4><strong>登録情報</strong></h4></div>
        <div class="col-sm-1" style=""><%= link_to '編集する', edit_customer_path, class: 'btn btn-primary' %></div>
        <div class="col-sm-1" style=""><%= link_to 'パスワードを変更する', edit_admin_password_path, class: 'btn btn-primary' %></div>
    </div>
    <div class="row">
     <div class="col-sm-8 " style="">
        <table class="table table-bordered">
          <tbody>
            <tr>
              <td class="active col-sm-3">氏名</td>
              <td class=""><%= @customer.first_name %><%= @customer.last_name %></td>
            </tr>
            <tr>
              <td class="active">カナ</td>
              <td><%= @customer.first_name_kana %><%= @customer.last_name_kana %></td>
            </tr>
            <tr>
              <td class="active">郵便番号</td>
              <td><%= @customer.postal_code %></td>
            </tr>
            <tr>
              <td class="active">住所</td>
              <td><%= @customer.address %></td>
            </tr>
            <tr>
              <td class="active">電話番号</td>
              <td><%= @customer.phone_number %></td>
            </tr>
            <tr>
              <td class="active">メールアドレス</td>
              <td><%= @customer.email %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="">
        <h4><strong>配送先</strong></h4>
      </div>
      <div class="col-sm-2" style="">
        <%= link_to '一覧を見る', destinations_path , class: 'btn btn-primary' %>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="">
        <h4><strong>注文履歴</strong></h4>
      </div>
      <div class="col-sm-1" style="">
        <%= link_to '一覧を見る', "orders_path", class: 'btn btn-primary' %>
      </div>
    </div>
</div>