<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2">
			<h2 style="font-size: 25px; padding-bottom: 10px;"><span style="background-color:#f8f8f8;">　会員一覧　</h2>
			<table class="table" style="margin-top: 20px;">
				<tr class="active">
					<th>会員ID</th><th>氏名</th><th>メールアドレス</th><th>ステータス</th>
				</tr>
				<% @customers.each do |customer| %>
				<!-- 繰り返し処理にて全ての会員情報を表示 -->
				<tr>
					<td><%= customer.id %></td>
					<td><%= link_to admins_customer_path(customer) do %>
							<%= customer.first_name %><%= customer.last_name %>
						<% end %>
					</td>
					<!-- 名前をクリックして会員詳細に遷移（リンク先未実装） -->
					<td><%= customer.email %></td>
					<td><% if customer.is_member == "Available" %>
							有効
						<% else %>
							無効
						<% end %>
					</td>
				</tr>
				<% end %>
			</table>
		</div>
	</div>
</div>