<div class="container">
	<div class="row">
		<div class="col-lg-9">
			<h4 style="padding-bottom: 10px;">
				<span style="background-color:#f8f8f8;"><%= @customer.first_name %><%= @customer.last_name %>さんの会員詳細</span>
			</h4>
<table style="margin-top: 30px; margin-bottom: 30px;">
	<tr>
		<th style="padding-bottom: 10px">顧客ID</th>
		<td style="padding-bottom: 10px; font-size: 17px;"><%= @customer.id %>
			<% if @customer.is_member == true %>
				有効
			<% else %>
				無効
			<% end %>
		</td>
	</tr>
	<tr>
		<th style="padding-bottom: 10px">氏名　</th>
		<td style="padding-bottom: 10px; font-size: 17px;">
			<%= @customer.first_name %> <%= @customer.last_name %>
		</td>
	</tr>
	<tr>
		<th style="padding-bottom: 10px">フリガナ　</th>
		<td style="padding-bottom: 10px; font-size: 17px;">
			<%= @customer.first_name_kana %> <%= @customer.last_name %>
		</td>
	</tr>
	<tr>
		<th style="padding-bottom: 10px">郵便番号　</th>
		<td style="padding-bottom: 10px; font-size: 17px;"><%= @customer.postal_code %></td>
	</tr>
	<tr>
		<th style="padding-bottom: 10px">住所　</th>
		<td style="padding-bottom: 10px; font-size: 17px;"><%= @customer.address %></td>
	</tr>
	<tr>
		<th style="padding-bottom: 10px">電話番号　</th>
		<td style="padding-bottom: 10px; font-size: 17px;"><%= @customer.phone_number%></td>
	</tr>
	<tr>
		<th style="padding-bottom: 10px">メールアドレス　</th>
		<td style="padding-bottom: 10px; font-size: 17px;"><%= @customer.email %></td>
	</tr>
</table>

<%= link_to "編集する",edit_admins_customer_path(@customer) ,class: "btn btn-primary" %>
<%= link_to "注文履歴一覧を見る",admins_orders_path(@customer) ,class: "btn btn-primary"%>
		</div>
	</div>
</div>