<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= link_to category.name, search_products_path(category), method: :get %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-10">
      <h2>
        <strong>商品一覧</strong><span style="font-size: 20px;"> (全<%= @products.count %>件)</span>
      </h2>
      <% @products.each do |product| %>
        <div class="box" style="float:left; margin-right:0px;">
          <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag @product, :image, size: "200x100", format: 'jpeg', fallback: 'no_image.png' %>
          <% end %>
　　　　   <p><strong><%= product.name %></strong></p>
　　　　   <p><strong>¥<%= product.price %></strong></p>
        </div>
      <% end %>
    </div>
  </div>
</div>