<div class="row">
  <div class="col-lg-4">
    <table>
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>

      <tbody>
        <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.name, search_products_path(category.id), method: :get %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-8">
    <h2>商品一覧</h2><%= "全#{@products.count}件" %>
      <% @products.each do |product| %>
        <div class="box">
          <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag @product, :image, :fill, 100, 80, format: 'jpeg', fallback: 'no_image.png' %>
          <% end %>
　　　　     <p>商品名<%= product.name %></p>
　　　　     <p>¥<%= product.price %></p>
        </div>
      <% end %>
  </div>
</div>