<div class="row">
  <div class="col-lg-4">
    <div class="category-section">
      <h2>ジャンル検索</h2>
        <div class="category-list">
          <p><%= link_to 'ケーキ' %></p>
          <p><%= link_to '焼き菓子' %></p>
          <p><%= link_to 'プリン' %></p>
          <p><%= link_to 'キャンディ' %></p>
        </div>
    </div>
  </div>

  <div class="col-lg-8">
    <h2>商品一覧</h2>
      <% @products.each do |product| %>
        <div class="box">
          <%= link_to product_path(product.id) do %>
            <%= attachment_image_tag @product, :image, :fill, 200, 300, format: 'jpeg', fallback: 'no_image.png' %>
　　　　     <p>商品名<%= product.name %></p>
　　　　     <p>¥<%= product.price %></p>
          <% end %>
        </div>
      <% end %>
  </div>
</div>