<div class="container">
  <div class="row">
    <div class="col-lg-2">
      <table class="table">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>

        <tbody>
          <% @categories.each do |category| %>
            <tr>
              <td><%= link_to category.name, search_products_path(category.id), method: :get %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-lg-6" style="text-align: center; padding-top: 20px;">
      <%= attachment_image_tag @product, :image, size: "300x200", format: 'jpeg', fallback: 'no_image.png' %>
    </div>
    <div class="col-lg-4">
      <strong><span style="font-size: 25px;"><%= @product.name %></span></strong><br>
      <%= @product.introduction %><br>
      <p><strong><span style="font-size: 20px;">¥ <%= @tax.to_i %></span></strong>(税込)</p>
      <!--個数選択-->
      <%= form_for @cart_product do |f| %>
        <%= f.select :quantity, options_for_select(1..10), include_blank: "個数を選択" %>
        <%= link_to "カートに入れる", cart_products_create_path(@product), method: :post, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>