<div class="row">
  <div col-md-3>
    <h2>商品一覧</h2>
      <table>
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>

        <tbody>
          <% @products.each do |product| %>
            <tr>
          	  <td><%= product.id %></td>
          	  <td><%= link_to product.name, product_path(product.id) %></td>
          	  <td><%= product.price %></td>
          	  <td><%= category.id %></td>
          	  <td><%= product.is_sale_status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>