<div class="container">
  <div class="row">

    <div class="col-lg-10 col-lg-offset-1">
      <h4 style="padding-bottom: 10px;"><span style="background-color:#D5D7DD;">　商品一覧　</span></h4>

      <%= link_to "新規商品登録", new_admins_product_path ,class: "btn btn-primary" %>
        <table class="table">
          <thead>
            <tr class="active">
              <th>商品ID</th>
              <th>商品名</th>
              <th>税抜価格</th>
              <th>ジャンル</th>
              <th>ステータス</th>
            </tr>
          </thead>

          <tbody>
            <% @products.each do |product| %>
              <tr>
          	   <td><%= product.id %></td>
          	   <td><%= link_to product.name, admins_product_path(product.id) %></td>
          	   <td><%= product.price %></td>
          	   <td><%= product.category.name %></td>
          	   <td><%= product.is_sale_status ? '販売中' : '売切中' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>