<div class="container">
  <div class="row">
    <%= form_with(model: @product, local: true) do |f| %>
      <div class="col-lg-5">
        <h2>商品詳細</h2>
          <%= attachment_image_tag @product, :image, size: "300x200", format: 'jpeg' %>
      </div>

      <div class="col-lg-5" >
        <%= f.label :name, "商品名" %>
        <%= @product.name %><br>
        <%= f.label :introduction, "商品説明" %>
        <%= @product.introduction %><br>
        <%= f.label :name, "ジャンル" %>
        <%= @product.category.name %><br>
        <%= f.label :price, "税込価格(税抜価格)" %>
        <%= @tax.to_i %> (<%= @product.price %>) 円<br>
        <%= f.label :is_sale_status, "販売ステータス" %>
        <%= @product.is_sale_status ? '販売中' : '売切中' %>
      </div>
      <div class="col-lg-2">
        <%= link_to "編集する", edit_admins_product_path(@product.id), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>