<div class="container">
  <div class="row">
    <%= form_for(@destination) do |f| %>
      <div class="col-lg-8">
        <h4><mark style="background-color: #F8F8F8F8;">配送先編集</mark></h4>
        <p>
          郵便番号（ハイフンなし)
         <span style="padding-left: 15px;">
           <%= f.text_field :postal_code, autofocus: true, autocomplete: "postal_code" %>
         </span>
        </p>
        <p>
          住所
          <span style="padding-left: 145px;">
            <%= f.text_field :address, autofocus: true, autocomplete: "address", style: 'width: 400px;' %>
          </span>
        </p>
        <p>
          宛名
          <span style="padding-left: 145px;">
            <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
          </span>
          <span style="padding-left: 300px;">
            <%= f.submit "編集する", class: 'btn btn-primary' %>
          </span>
        </p>
      </div>
    <% end %>
  </div>
</div>