<div class="container">
  <div class="row">
    <div class="col">
      <h4><mark style="background-color: #F8F8F8F8;">配送先登録/一覧</mark></h4>
      <%= form_for(@destination) do |f| %>
		    <p>
          郵便番号(ハイフンなし)
          <span style="padding-left: 15px;">
            <%= f.text_field :postal_code %>
          </span>
        </p>
		    <p>
          住所
          <span style="padding-left: 135px;">
		        <%= f.text_field :address, style: 'width: 400px;' %>
          </span>
        </p>
		    <p>
          宛名
		      <span style="padding-left: 135px;">
            <%= f.text_field :name %>
          </span>
          <span style="padding-left: 300px;">
		        <%= f.submit '登録する', class: "btn btn-success btn-lg" %>
          </span>
        </p>
	　  <% end %>

      <table class="table table-bordered">
		    <thead>
		      <tr>
		   	    <th>郵便番号</th>
		   	    <th>住所</th>
		   	    <th>宛名</th>
		   	    <th></th>
            <th></th>
		      </tr>
    	 </thead>
    	 <% @destinations.each do |destination| %>
        <tbody>
          <tr>
            <td><%= destination.postal_code %></td>
            <td><%= destination.address %></td>
            <td><%= destination.name %></td>
            <td><%= link_to "編集する", edit_destination_path(destination.id), class: "btn btn-primary" %></td>
            <td><%= link_to "削除する", destination_path(destination.id), method: :delete, class: "btn btn-danger" %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>