<div class="container">
  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <h4 style="padding-bottom: 10px;"><span style="background-color:#D5D7DD;">　注文履歴一覧　</span></h4>
      <table class="table" >
        <thead class="">
          <tr class="active">
            <!-- 表示テスト用記述 -->
            <th>注文ID</th>
            <!-- /表示テスト用記述 -->
            <th>購入日時</th>
            <th>購入者</th>
            <th>注文個数</th>
            <th>ステータス</th>

          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td>
                <%= order.id %>
              </td>
              <td><%= order.created_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
              <td>
                <!-- 詳細へリンク -->
                <%= link_to order.customer.first_name + order.customer.last_name, admins_order_path(order) %>
              </td>
              <td>
                <% quantity_all = 0 %>
                <% order.order_products.each do |order_product| %>
                  <% quantity_all += order_product.quantity %>
                <% end %>
                <%= quantity_all %>
              </td>
              <!-- enum日本語化 -->
              <td><%= order.order_status_i18n %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div class="co-lg-12" style="text-align: center;">
        <%= paginate(@orders) %>
      </div>
    </div>
  </div>
</div>