<!DOCTYPE html>
<html>
  <head>
    <title>Naganocake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body style= "background: #F8F8F8">
          <% if notice %>
            <p class="alert alert-notice"><%= notice %></p>
        <% end %>
     <header class="navbar navbar-fixed-top" style="background: #D19F9C">
      <div class="container">
       <nav class="nav navbar-nav navbar-left">
         <%= link_to image_tag("logokuro.png", class: "logo"), home_path %>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <% if customer_signed_in? %>
              <li><%= link_to 'マイページ', customer_path, class: '' %></li>
              <li><%= link_to '商品一覧', products_path, class: '' %></li>
              <li><%= link_to 'カート', cart_products_path, class: '' %></li>
              <li><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: '' %></li>
              <div class="seach-window pull-bottom">
                <%= form_with url:name_search_path,:method => 'get',local: true,skip_enforcing_utf8: true do |f| %>
                  <%= f.collection_select(:category_id,Category.where(is_effective: "true" ),:id,:name,prompt:"ジャンル選択") %>
                  <%= f.text_field :search %>
                  <%= f.submit '検索',name: nil %>
                <% end %>
              </div>

            <% elsif admin_signed_in? %>
              <li><%= link_to '商品一覧', admins_products_path, class: '' %></li>
              <li><%= link_to '会員一覧', admins_customers_path, class: '' %></li>
              <li><%= link_to '注文履歴一覧', admins_orders_path, class: '' %></li>
              <li><%= link_to 'ジャンル一覧', admins_categories_path, class: '' %></li>
              <li><%= link_to 'ログアウト', destroy_admin_session_path, method: :delete, class: '' %></li>
            <% else %>
              <li class="nav-list"><%= link_to 'About', about_path, class: '' %></li>
              <li class="nav-list"><%= link_to '商品一覧', products_path, class: '' %></li>
              <li class="nav-list"><%= link_to '新規登録', new_customer_registration_path, class: '' %></li>
              <li class="nav-list"><%= link_to 'ログイン', new_customer_session_path, class: '' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="wrapper">
      <%= yield %>
    </div>
    <footer style="background: #D19F9C"></footer>
  </body>
</html>